:root {
  --primaryColor: #3ab3a7;
  --primaryHover: #0c988a;
  --secondaryColor: #059789;
  --secHoverColor: #253b53;
  --greyColor: #f7f7f7;
}
.review{
  background: var(--greyColor);
  .secContainer{
    .secTitle{
      font-weight: 800;
      margin-top: -30px;
      color: var(--secHoverColor);
    }
  }
  .reviewContainer{
    gap: 4rem;
    padding: .5rem;
 
    .singleReview{
      position: relative;
      background: white;
      box-shadow: 0 3px 5px rgb(218,218,218);
      padding: 1.5rem;
      text-align: center;
      border-radius: 10px;
      transition: .4s ease;

      &:hover{
        transform: translateY(-10px);
      }
      .imgDiv{
        position: relative;
        height: 80px;
        width: 80px;
        right: 50%;
        left: 50%;
        top:-23%;
        border-radius: 50%;
        overflow: hidden;
        transform: translateX(-50%);
        border: 10px solid white;
      }

      p{
        padding: 1rem;
        line-height: 1.3rem;
      }
      .name{
        color: var(--primaryColor);
        font-weight: 800;
      }
    }
  } 
}

@media screen and (min-width:200px) {
  .review{
    
    margin-top: 55px;
    .reviewContainer{
      grid-template-columns: repeat(1,1fr);
      margin: auto;
    }
  }
}

@media screen and (min-width:1240px) {
  .review{
    
    margin-top: -135px;
    .reviewContainer{
      grid-template-columns: repeat(3,1fr);
    }
  }
}
